@media only screen and (min-width: 32em) {

    #menu {
        display: none;
    }
    
    #spot-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #event-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #spot-grid div, #event-grid div {
        margin: 1rem;
        padding: 1rem;
    }


	nav ul li {
		flex: 1 1 100%;
        display: block;
	}


    ul {
        flex-direction: row;
        justify-content: space-evenly;
    }

    #griddiscover {
        grid-template-columns: 1fr 1fr;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
    }

    #firstbox {
        grid-column: 1;
        grid-row: 1; 
    }
    
    #secondbox {
        grid-column: 1;
        grid-row: 2; 
    }
    
    #calander {
        grid-column: 1;
        grid-row: 3; 
    }

    #img1 {
        grid-column: 2;
        grid-row: 1/4;
        align-content: center;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: auto;
    }

    #img1 img {
        margin: auto;
        margin-top: 1rem;
    }
  
}