@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito:wght@300&family=Open+Sans&family=Roboto+Slab&display=swap');


header {
    background: #628f58;
    text-align: center;
    margin: .5rem;
}

header h1 {
    font-size: 3rem;
    padding-left: 1rem;
}

header div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: left;
}

#picOfMe {
    display: block;
    border-style: solid;
    border-color: black;
    margin-top: 1rem;
    margin-left: auto;
}

nav {
    background-color: rgb(134, 134, 134);
}

nav a {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-decoration: none;
    color: black;
    font-family: "bebas neue";
    font-size: 1.5rem;
    display: block;
}

nav a:hover {
    background-color: rgb(202, 200, 200);
}

nav ul {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    padding: 0rem;
    list-style-type: none;
}

.active {
    background-color: rgb(202, 200, 200);
}

main {
    display: grid;
    grid-template-rows: .20fr .20fr;
    text-align: center; 
}

main ul {
    list-style-type: none;
}

h1, h2, h3 {
    font-family: "Bebas neue";
}

p {
    font-family: "Open sans, sans serif";
}

.card {
    padding: .5rem;
    margin: 1.5rem;
    background-color: #628f58;
    border-style: solid;
    border-color: black;
    border-width: .25rem;
    margin-top: .5;
    
}

main h2 {
    grid-row: 1/2;
}

#grid1 {
    grid-row: 2/3;
    text-align: left;
}

#grid1 h3 {
    text-align: center;
}

#grid2 {
    grid-row: 3/3;
    
}
#grid2 p {
    margin: 1rem;
}
footer {
    text-align: center;
    background-color: rgb(134, 134, 134);
    margin: .25rem;
    padding: .5rem;
}
