@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito:wght@300&family=Open+Sans&family=Roboto+Slab&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
    background: #79a470;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    max-width: 800px;
	margin: 0 auto;
}



header h1 {
    font-size: 3rem;
    padding-left: 1rem;
}

header div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: left;
}

#picOfMe {
    display: block;
    border-style: solid;
    border-color: black;
    margin-top: 1rem;
    margin-left: auto;
}

nav {
    background-color: rgb(179, 178, 178);
    margin: 0 auto;
	max-width: 800px;
}

nav a {
    text-decoration: none;
    color: black;
    font-family: "bebas neue";
    font-size: 1.5rem;
    display: block;
    text-align: center;
    padding: 1rem;
}

nav a:hover {
    background-color: rgb(202, 200, 200);
}

nav ul {
    
    padding: 0rem;
    list-style-type: none;
}

.active {
    background-color: rgb(202, 200, 200);
}

#mode {
    font-size: 1.5rem;
    padding-top: .5rem;
}

#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: #eee;
	color: #000;
 	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❌";
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
}
.navigation li {
	display: none;
}
.navigation li a {
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
}
.navigation li a:hover {
	background-color: #bbb;
	color: #333;
	font-weight: 700;
}
.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
}

main {
    display: grid;
    grid-template-rows: .20fr .20fr;
    text-align: center; 
    max-width: 800px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

main ul {
    list-style-type: none;
}

main li a {
    list-style-type: none;
    color: rgb(0, 0, 0);
}

main li a:hover {
    color: rgb(255, 255, 255);
}

h1, h2, h3 {
    font-family: "Bebas neue";
    padding-top: 1rem;
}

p {
    font-family: "Open sans, sans serif";
}

.card {
    padding: .5rem;
    margin: 1.5rem;
    background-color: #79a470;
    border-style: solid;
    border-color: black;
    border-width: .25rem;
    margin-top: .5;
    
}

main h2 {
    grid-row: 1/2;
}

#grid1 {
    grid-row: 2/3;
    text-align: left;
}

#grid1 h3 {
    text-align: center;
}

#grid2 {
    grid-row: 3/3;
    
}
#grid2 p {
    margin: 1rem;
}
footer {
    text-align: center;
    background-color: rgb(179, 178, 178);
    margin: .25rem;
    padding: .5rem;
    max-width: 800px;
    margin: 0 auto;
}
